@import "compass", "compass/reset", "compass/css3/font-face", "media-queries", "compass/css3/border-radius", "compass/css3/transition";

@include font-face("???", font-files("???.ttf"));

/* for Bootstrap */
.no-margin {margin: 0 !important}
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
/**/
.left {float: left;}
.right {float: right;}
a {
  &:hover {
    text-decoration: none;
  }
}
body {
   color: rgb(114, 114, 114);
 }
/* HEADER */
.container {
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.25);
  background-color: rgba(223, 234, 204, 0.31);
}
#navbar {
  padding: 20px 0;
  .navbar-links {

    a {
      color: rgb(114, 114, 114);
      float: left;
      padding-left: 10px;
    }
  }
}
.header-section {
  background: url("../images/header_bg.jpg") no-repeat center center;
  background-size: cover;
  max-height: 500px;
  .header-content {
    height: 550px;
    h1 {
      font-size: 34px;
      float: right;
      padding-top: 35px;
      color: rgba(223, 234, 204, 0.91);
    }
    p {
      padding-top: 360px;
      padding-right: 10px;
      text-align: right;
      font-size: 20px;
      line-height: 36px;
      color: rgba(223, 234, 204, 0.81);
    }
  }
}
/* CONTENT */
.articles {
  a {
    color: rgb(114, 114, 114);
  }
  .main-article-section {
    margin: 10px 10px 20px 20px;
    background-color: #fff;
    border: 2px solid rgba(223, 234, 204, 0.81);
    border-radius: 10px;
  }
  h2 {
    text-align: center;
    font-size: 28px;
    padding: 15px 0 15px 0;
    border-bottom: 2px solid rgba(223, 234, 204, 0.81);
  }
  p {
    text-align: justify;
    padding: 20px 10px 20px 10px;
    font-size: 16px;
    line-height: 24px;
  }
  .article_img {
    max-width: 100%;
    height: auto;
    border: 3px solid #fff;
  }
  .old-article-section {
    margin: 10px 10px 20px 20px;
    .old-article-section-1,
    .old-article-section-2,
    .old-article-section-3,
    .old-article-section-4 {
      border: 1px solid rgba(223, 234, 204, 0.81);
      border-radius: 10px;
      background-color: #fff;
      h3 {
        text-align: center;
        font-size: 18px;
        padding-top: 15px;
      }
      .article_img {
        max-width: 100%;
        height: auto;
        padding: 10px 0 15px 0;
      }
    }
  }
}
