@import "compass", "compass/reset", "compass/css3/font-face", "media-queries", "compass/css3/border-radius", "compass/css3/transition";

//@include font-face("???", font-files("???.ttf"));   add new font
$main-color: rgba(223, 234, 204, 0.81);
$white-color: #fff;
$grey-text: rgb(114, 114, 114);
$article-section-margin: 10px 10px 20px 20px;

%h2-style {
  text-align: center;
  font-size: 28px;
  padding: 20px 0 5px 0;
}
%p-style {
  text-align: justify;
  font-size: 16px;
  line-height: 24px;
}
%links-hover {
  text-decoration: none;
  color: #000;
  transition: all .7s;
}

/* for Bootstrap */
.no-margin {margin: 0 !important}
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
/* general */
.left {float: left;}
.right {float: right;}

body {
  color: $grey-text;
  background-color: rgba(223, 234, 204, 0.22);
 }
.container {
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.25);
  background-color: rgba(223, 234, 204, 0.05);
}
#navbar {
  padding: 30px 0;
  .header-logo {
    h1 {
      color: $grey-text;
      float: right;
      font-size: 30px;
      padding-top: -10px;
    }
  }
  .navbar-links {
    font-size: 20px;
    a {
      color: $grey-text;
      float: left;
      padding-left: 10px;
      &:hover {
        @extend %links-hover;
      }
    }
  }
}

/*---------------------------------------------INDEX.html-------------------------------------------------------------*/
/* header */
.header-section {
  background: url("../images/header_bg.jpg") no-repeat center center;
  background-size: cover;
  max-height: 500px;
  border-top: 3px solid $main-color;
  .header-content {
    height: 500px;
    h1 {
      float: right;
      font-size: 34px;
      padding-top: 35px;
      color: rgba(223, 234, 204, 0.91);
    }
    p {
      color: $main-color;
      text-align: right;
      padding-top: 360px;
      padding-right: 10px;
      font-size: 20px;
      line-height: 36px;
    }
  }
}
/* content */
.articles {
  padding-top: 30px;
  a {
    color: $grey-text;
    &:hover {
      @extend %links-hover;
    }
  }
  .main-article-section {
    margin: $article-section-margin;
    @include border-radius (10px);
    background-color: $white-color;
    border: 2px solid $main-color;
    h2 {
      @extend %h2-style;
    }
    p {
      @extend %p-style;
      padding: 20px 10px 20px 10px;
    }
    .main-article-img {
      max-width: 100%;
      height: auto;
      border: 15px solid #fff;
      border-radius: 10px;
    }
  }
  .old-article-section {
    margin: $article-section-margin;
    .old-article-section-1,
    .old-article-section-2,
    .old-article-section-3,
    .old-article-section-4 {
      border: 1px solid $main-color;
      @include border-radius (10px);
      background-color: $white-color;
      h3 {
        text-align: center;
        font-size: 18px;
        padding-top: 16px;
      }
      .old-article_img {
        max-width: 100%;
        height: auto;
        padding: 10px 0 16px 0;
      }
    }
  }
}
/* pagination */
.pagination {
  margin: 20px 0 0 10px;
  border-radius: 5px;
}
.pagination > li > a,
.pagination > li > span {
  color: $grey-text;
  border: 1px solid $main-color;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #23527c;
  background-color: $main-color;
  border-color: $main-color;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: $grey-text;
  background-color: $main-color;
  border-color: $main-color;
}

/*---------------------------------------------ARTICLE.html-----------------------------------------------------------*/
.inside-section {
  background-color: $white-color;
  margin-top: -30px;
  border-top: 3px solid $main-color;
  h2 {
    @extend %h2-style;
  }
  p {
    @extend %p-style;
    padding: 20px 20px 20px 20px;
  }
  .inside-article_img_1 {
    float: left;
    max-width: 40%;
    height: auto;
    padding: 25px 15px 5px 20px;
  }
  .inside-article_img_2 {
    float: right;
    max-width: 40%;
    height: auto;
    padding: 15px 0 5px 15px;
  }
/*---------------------------------------------ARCHIVE.html-----------------------------------------------------------*/
#archive-section {
  padding-bottom: 50px;
}
  h4 {
    text-align: left;
  font-size: 20px;
  font-weight: bold;
  padding: 30px 0 20px 0;
  }
  ul {
    padding-bottom: 50px;
    li {
      text-align: left;
      padding-bottom: 5px;
    }
  }

/*---------------------------------------------ABOUT.html-----------------------------------------------------------*/
  .about-avatar {
    border-radius: 50%;
    max-width: 300px;
    padding: 25px 25px 15px 10px;
    float: left;
  }
}
/* ARCHIVE.html */


