/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/stylesheet.scss */
.articles .main-article-section h2, .inside-section h2 {
  text-align: center;
  font-size: 28px;
  padding: 20px 0 5px 0;
}

/* line 14, ../sass/stylesheet.scss */
.articles .main-article-section p, .inside-section p {
  text-align: justify;
  font-size: 16px;
  line-height: 24px;
}

/* line 19, ../sass/stylesheet.scss */
#navbar .navbar-links a:hover, .articles a:hover {
  text-decoration: none;
  color: #000;
  transition: all .7s;
}

/* for Bootstrap */
/* line 26, ../sass/stylesheet.scss */
.no-margin {
  margin: 0 !important;
}

/* line 27, ../sass/stylesheet.scss */
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

/* general */
/* line 32, ../sass/stylesheet.scss */
.left {
  float: left;
}

/* line 33, ../sass/stylesheet.scss */
.right {
  float: right;
}

/* line 35, ../sass/stylesheet.scss */
body {
  color: #727272;
  background-color: rgba(223, 234, 204, 0.22);
}

/* line 39, ../sass/stylesheet.scss */
.container {
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.25);
  background-color: rgba(223, 234, 204, 0.05);
}

/* line 43, ../sass/stylesheet.scss */
#navbar {
  padding: 30px 0;
}
/* line 46, ../sass/stylesheet.scss */
#navbar .header-logo h1 {
  color: #727272;
  float: right;
  font-size: 30px;
  padding-top: -10px;
}
/* line 53, ../sass/stylesheet.scss */
#navbar .navbar-links {
  font-size: 20px;
}
/* line 55, ../sass/stylesheet.scss */
#navbar .navbar-links a {
  color: #727272;
  float: left;
  padding-left: 10px;
}

/*---------------------------------------------INDEX.html-------------------------------------------------------------*/
/* header */
/* line 68, ../sass/stylesheet.scss */
.header-section {
  background: url("../images/header_bg.jpg") no-repeat center center;
  background-size: cover;
  max-height: 500px;
  border-top: 3px solid rgba(223, 234, 204, 0.81);
}
/* line 73, ../sass/stylesheet.scss */
.header-section .header-content {
  height: 500px;
}
/* line 75, ../sass/stylesheet.scss */
.header-section .header-content h1 {
  float: right;
  font-size: 34px;
  padding-top: 35px;
  color: rgba(223, 234, 204, 0.91);
}
/* line 81, ../sass/stylesheet.scss */
.header-section .header-content p {
  color: rgba(223, 234, 204, 0.81);
  text-align: right;
  padding-top: 360px;
  padding-right: 10px;
  font-size: 20px;
  line-height: 36px;
}

/* content */
/* line 92, ../sass/stylesheet.scss */
.articles {
  padding-top: 30px;
}
/* line 94, ../sass/stylesheet.scss */
.articles a {
  color: #727272;
}
/* line 100, ../sass/stylesheet.scss */
.articles .main-article-section {
  margin: 10px 10px 20px 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid rgba(223, 234, 204, 0.81);
}
/* line 108, ../sass/stylesheet.scss */
.articles .main-article-section p {
  padding: 20px 10px 20px 10px;
}
/* line 112, ../sass/stylesheet.scss */
.articles .main-article-section .main-article-img {
  max-width: 100%;
  height: auto;
  border: 15px solid #fff;
  border-radius: 10px;
}
/* line 119, ../sass/stylesheet.scss */
.articles .old-article-section {
  margin: 10px 10px 20px 20px;
}
/* line 121, ../sass/stylesheet.scss */
.articles .old-article-section .old-article-section-1,
.articles .old-article-section .old-article-section-2,
.articles .old-article-section .old-article-section-3,
.articles .old-article-section .old-article-section-4 {
  border: 1px solid rgba(223, 234, 204, 0.81);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #fff;
}
/* line 128, ../sass/stylesheet.scss */
.articles .old-article-section .old-article-section-1 h3,
.articles .old-article-section .old-article-section-2 h3,
.articles .old-article-section .old-article-section-3 h3,
.articles .old-article-section .old-article-section-4 h3 {
  text-align: center;
  font-size: 18px;
  padding-top: 16px;
}
/* line 133, ../sass/stylesheet.scss */
.articles .old-article-section .old-article-section-1 .old-article_img,
.articles .old-article-section .old-article-section-2 .old-article_img,
.articles .old-article-section .old-article-section-3 .old-article_img,
.articles .old-article-section .old-article-section-4 .old-article_img {
  max-width: 100%;
  height: auto;
  padding: 10px 0 16px 0;
}

/* pagination */
/* line 142, ../sass/stylesheet.scss */
.pagination {
  margin: 20px 0 0 10px;
  border-radius: 5px;
}

/* line 146, ../sass/stylesheet.scss */
.pagination > li > a,
.pagination > li > span {
  color: #727272;
  border: 1px solid rgba(223, 234, 204, 0.81);
}

/* line 151, ../sass/stylesheet.scss */
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #23527c;
  background-color: rgba(223, 234, 204, 0.81);
  border-color: rgba(223, 234, 204, 0.81);
}

/* line 159, ../sass/stylesheet.scss */
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #727272;
  background-color: rgba(223, 234, 204, 0.81);
  border-color: rgba(223, 234, 204, 0.81);
}

/*---------------------------------------------ARTICLE.html-----------------------------------------------------------*/
/* line 171, ../sass/stylesheet.scss */
.inside-section {
  background-color: #fff;
  margin-top: -30px;
  border-top: 3px solid rgba(223, 234, 204, 0.81);
  /*---------------------------------------------ARCHIVE.html-----------------------------------------------------------*/
  /*---------------------------------------------ABOUT.html-----------------------------------------------------------*/
}
/* line 178, ../sass/stylesheet.scss */
.inside-section p {
  padding: 20px 20px 20px 20px;
}
/* line 182, ../sass/stylesheet.scss */
.inside-section .inside-article_img_1 {
  float: left;
  max-width: 40%;
  height: auto;
  padding: 25px 15px 5px 20px;
}
/* line 188, ../sass/stylesheet.scss */
.inside-section .inside-article_img_2 {
  float: right;
  max-width: 40%;
  height: auto;
  padding: 15px 0 5px 15px;
}
/* line 195, ../sass/stylesheet.scss */
.inside-section #archive-section {
  padding-bottom: 50px;
}
/* line 198, ../sass/stylesheet.scss */
.inside-section h4 {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  padding: 30px 0 20px 0;
}
/* line 204, ../sass/stylesheet.scss */
.inside-section ul {
  padding-bottom: 50px;
}
/* line 206, ../sass/stylesheet.scss */
.inside-section ul li {
  text-align: left;
  padding-bottom: 5px;
}
/* line 213, ../sass/stylesheet.scss */
.inside-section .about-avatar {
  border-radius: 50%;
  max-width: 300px;
  padding: 25px 25px 15px 10px;
  float: left;
}

/* ARCHIVE.html */
